.grid {
	display: grid;
	position: relative;
	border-top: 10px solid #A0A0A0;
	justify-content: center;
	box-shadow: grey 0px -3px 2px;
}

.cell {
	grid-column-end: span 1;
	grid-row-end: span 1;
	display: flex;
	justify-content: center;
	align-items: center;
	user-select: none;
	font-size: 15px;
	font-weight: bold;
	cursor: pointer;
	box-shadow: white 3px 3px 2px 0px inset, grey -3px -3px 2px 0px inset;
}

.level {
	background-color: #d4d4d4;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 285px;
	border: 1px solid;
	margin: 10px;
	box-shadow: grey 3px 3px 2px 0px inset, white -3px -3px 2px 0px inset;
}

button {
	background-color: #A0A0A0;
	border: 1px solid #A0A0A0;
	padding: 5px 8px;
	text-align: center;
	font-size: 15px;
	margin: 4px 20px;
	cursor: pointer;
	user-select: none;
	box-shadow: white 3px 3px 2px 0px inset, grey -3px -3px 2px 0px inset;
}

#button {
	font-size: 25px;
}

.container {
	position: absolute;
	justify-content: center;
	text-align: center;
	border: 8px solid #A0A0A0;
	background-color: #A0A0A0;
	margin: 10px;
	box-shadow: white 3px 3px 2px 0px inset, grey -3px -3px 2px 0px inset;
}

p {
	margin: 10px;
	display: inline-block;
	font-size: 30px;
	user-select: none;
}

@font-face{
	font-family:'digital-clock-font';
	src: url('ticking-timebomb-bb.regular.ttf');
}

#numberBombs {
	position: absolute;
	left: 10px;
	top: 8px;
	display: inline-block;
	height: 35px;
	width: 60px;
	color: red;
	background-color: black;
	color: red;
	display: flex;
	justify-content: center;
	user-select: none;
	font-size: 42px;
	font-family:'digital-clock-font';
}

#timer {
	position: absolute;
	right: 15px;
	top: 8px;
	display: inline-block;
	height: 35px;
	width: 60px;
	background-color: black;
	color: red;
	display: flex;
	justify-content: center;
	user-select: none;
	font-size: 42px;
	font-family:'digital-clock-font';
}
